body {
    background: #9AE4E8 url(http://web.archive.org/web/20090624110802im_/http://static.twitter.com/images/bg.gif) no-repeat fixed left top;
}
.page_menu {
    background: #c7fcff;
}
a {
    color: #2276BB;
}
.page_menu_nav_link {
	border-top: 1px solid #97d5d9;
	border-bottom: 1px solid #97d5d9;
}
.page_menu_nav_link:hover {
	background: #bcf4f7;
}
.page_menu_newpost_bt button {
    background: #b8f0f3;
    border: 1px solid #a3e1e5;
    color: #15666a;
}
.page_menu_newpost_bt button:hover {
	background: #a5e0e3;
}