body {
    background: #e89a9a url(https://i.imgur.com/KtcmzNY.png) no-repeat fixed left top;
}
.page_menu {
    background: #ffc7c7;
}
a {
    color: #b22;
}
.page_menu_nav_link {
    border-top: 1px solid #d99797;
    border-bottom: 1px solid #d99797;
}
.page_menu_nav_link:hover {
    background: #f7bcbc;
}
.page_menu_newpost_bt button {
    background: #f3b8b8;
    border: 1px solid #e5a3a3;
    color: #6a1515;
}
.page_menu_newpost_bt button:hover {
    background: #e3a5a5;
}
.page_menu_nav_link_active {
    border-top: 1px solid #d99797;
    border-bottom: 1px solid #d99797;
    background: #ffe4e4;
}
.page_menu_nav_link_active:hover {
    background: #f7bcbc;
}
